@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: Monocraft;
  src: url("/fonts/Monocraft.otf");
}

html,
body {
  @apply w-full h-full;
  font-family: Monocraft;
}

.button {
  @apply text-3xl border-solid border-4 border-blue-600 px-6 py-3 text-black active:bg-blue-600 active:text-white;

  &_small {
    @apply text-xl px-2 py-1;
  }
}
